

h1{
    font-size: 70px;
    font-family: sans-serif;  
    color: black;
    text-align: left;
    outline: 1px black;
    margin: left;
}


h3{
    font-size: 18px;
    font-weight: 900;
    font-family: sans-serif; 
    color:white;
    text-align: center;
    float: top;
    outline: 1px; 
    margin: top;
}

img{
    width: 150px;
    height: 150px;
    position: center;
}

body {
    font-family: 'Caveat';font-size: 22px;
}
