*{
    margin: 0;
    padding: 0;


}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)100%,rgba(0,0,0,0.5)100%), url(background.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}


.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 300px;
    float: left;
    height: 70px;
}

.logo{
    color: antiquewhite;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;

}

menu{
    width: 400px;
    float: center;
    height: 70px;
    
}

ul{
    
    float: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
ul li{
    
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

ul li a{
    text-decoration: none;
    color: white;
    font-weight: none;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: red;
}

h3{
    color: antiquewhite;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}