* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body {
    
    background: url(str.gif) no-repeat center fixed;
    background-size: cover;
}

nav {
    background-color:black;
    color:black;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    opacity: 70%;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    white-space: nowrap;
    
    
}

nav ul  :hover{
    color: indianred;
    
}

nav li a {
    padding: 10px 20px;
    background-color:black;
    text-decoration: none;
    color: white;
}

img {
  border-radius: 80%;
  border: none;
  position: center;
  outline: 0;
  display: block;
  padding: 8px;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 30%;
  height: 30%;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

p {
    font-family: 'Oswald', sans-serif ;
    color: white;
    float: center;
    margin-left: 44%;
    text-shadow: 1px 1px black;
    
}


