* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body {
    
    background: url(str.gif) no-repeat center fixed;
    background-size: cover;
}

nav {
    background-color:black;
    color:black;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    opacity: 70%;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    white-space: nowrap;
    
    
}

nav ul  :hover{
    color: indianred;
    
}

nav li a {
    padding: 10px 20px;
    background-color:black;
    text-decoration: none;
    color: white;
}

 body {
    color: white;
    text-shadow: 1px 1px black;
    font-family: 'Oswald', sans-serif;
}